.rounded-card {
  background: #161240;
  border-radius: 5%;
  display: inline-block;
  width: 200px;
  border: 1px solid lightcyan;
}

.circle-avatar {
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
}

ul {
  margin: 10px auto;
}

li {
  margin: 0 0 10px 0;
  color: whitesmoke
}

.area {
  color: lightblue
}